<h1>Create a Team and Heroes!</h1>

<form method="post" action="/team">
  <label for="superhero_team_name"> Super Team Name: </label>
  <input type="text" name="team[name]">
  <label for="superhero_team_motto">Motto: </label>
  <input type="text" name="team[motto]">
  
  <label for="superhero_1_name">Superhero Name:</label>
  <input type="text" name="team">
  <label for="superhero_1_power">Superhero Power:</label>
  <input type="text" name="superhero_1_power">
  <label for="superhero_1_bio">Superhero Bio:</label>
  <input type="text" name="superhero_1_bio">
  
  <label for="superhero_2_name">Superhero Name:</label>
  <input type="text" name="superhero_1_name">
  <label for="superhero_2_power">Superhero Power:</label>
  <input type="text" name="superhero_2_power">
  <label for="superhero_2_bio">Superhero Bio:</label>
  <input type="text" name="superhero_2_bio">
  
  <label for="superhero_3_name">Superhero Name:</label>
  <input type="text" name="superhero_1_name">
  <label for="superhero_3_power">Superhero Power:</label>
  <input type="text" name="superhero_3_power">
  <label for="superhero_3_bio">Superhero Bio:</label>
  <input type="text" name="superhero_3_bio">
  
  <input type="submit" id="submit">
</form>
