<h1>Create a Team and Heroes!</h1>

<form>
  <label for="superhero_team_name"> Super Team Name: </label>
  <input type="text" name="superhero_team_name">
  <label for="superhero_team_motto">Motto: </label>
  <input type="text" name="superhero_team_motto">
  <label for="superhero_1_name">Superhero Name:</label>
  <input type="text" name="superhero_1_name">
  
</form>
